.map {
  &__link {
    background  : url("../images/layout/map.png") center / cover no-repeat;
    outline     : none;
    text-indent : -9999px;

    @include position();
    @include size(100% 500px);
  }

  &:after {
    content        : "Открыть на карте";
    overflow       : hidden;
    font           : 200 16px/1 "Proxima Nova", Arial, sans-serif;
    color          : #fff;
    background     : rgba(204, 204, 204, 0.9);
    text-align     : center;
    text-indent    : 0;
    text-transform : uppercase;

    @include position(absolute, null 0 45px 0);
    @include size(320px null);
    @include margin(0 auto);
    @include padding(26px 0 23px);
    @include transition(all 0.2s linear 0s);
  }

  &:hover:after {
    background : rgba(53, 53, 53, 0.9);
  }
}