<footer class="page-footer">
    <div class="page-footer__wrapper">
        <div class="page-footer__container">

            <div class="page-footer__column">
                <div class="page-footer__column-container">
                    <div class="page-footer__row">
                        <img class="page-footer__logo" src="{{ '/assets/images/layout/newcity.svg' | prepend: site.baseurl  }}" alt="ООО «Новый город»">
                        «Новый город»&ensp;© 2004 -2015
                    </div>
                    <div class="page-footer__row">
                        <a class="page-footer__contact-item page-footer__contact-item_type_address" href="#">600026, г. Владимир, ул. <br>Тракторная, д. 35</a>
                    </div>
                </div>
            </div>

            <div class="page-footer__column page-footer__column_align_center">
                <div class="page-footer__column-container">
                    <div class="page-footer__row">
                        <a class="page-footer__contact-item page-footer__contact-item_type_phone" href="#">+7 (4922) 53-83-78</a>
                        <a class="page-footer__contact-item page-footer__contact-item_type_mobile" href="#">+7 (961) 111-3000</a>
                    </div>
                    <div class="page-footer__row">
                        <a class="page-footer__contact-item page-footer__contact-item_type_mail" href="#">Прайс-лист</a>
                        <a class="page-footer__contact-item page-footer__contact-item_type_price" href="#">Написать нам</a>
                    </div>
                </div>
            </div>

            <div class="page-footer__column">
                <div class="page-footer__column-container">
                    <div class="page-footer__scheduler-title">Режим работы</div>
                    <div class="page-footer__scheduler-item">пн - пт &mdash; с 9&nbsp;00 до 17&nbsp;00</div>
                    <div class="page-footer__scheduler-item">сб &mdash; с 10&nbsp;00 до 15&nbsp;00</div>
                </div>
            </div>
        </div>
    </div>
</footer>
