<header class="page-header">
    <div class="page-header__container">
        <a class="page-header__link" href="{{ '/' | prepend: site.baseurl }}">
            <img class="page-header__logo" src="{{ '/assets/images/layout/newcity.svg' | prepend: site.baseurl }}" alt="ООО «Новый город»">

            <div class="page-header__brand">
                <span class="page-header__title">Новый город</span>
                <span class="page-header__lead">тротуарная плитка и благоустройство</span>
            </div>
        </a>
    </div>
</header>

<div class="page-header__actions">
    <a class="page-header__action-item page-header__action-item_type_price" href="#">Прайс-лист</a>
    <a class="page-header__action-item page-header__action-item_type_mail" href="#">Написать нам</a>
    <!--<a class="page-header__action-item page-header__action-item_type_rss" href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</a>-->
</div>