<div class="page__footer">
    <footer class="footer">
        <div class="footer__container">

            <div class="footer__column">
                <div class="brand brand_theme_footer">
                    <img class="brand__logo" src="{{ '/assets/images/layout/newcity.svg' | prepend: site.baseurl  }}" alt="ООО «Новый город»">
                    <span class="brand__copyright">«Новый город»&ensp;© 2004 -2015</span>
                </div>
                <a class="contact contact_type_address contact_theme_footer" href="#">600026, г. Владимир, ул. <br>Тракторная, д. 35</a>
            </div>

            <div class="footer__column footer__column_align_center">
                <div class="footer__contacts">
                    <a class="contact contact_type_phone contact_theme_footer" href="#">+7 (4922) 53-83-78</a>
                    <a class="contact contact_type_mobile contact_theme_footer" href="#">+7 (961) 111-3000</a>
                </div>
                <div class="footer__actions">
                    <a class="button button_type_mail" href="#">Прайс-лист</a>
                    <a class="button button_type_price" href="#">Написать нам</a>
                </div>
            </div>

            <div class="footer__column scheduler">
                <div class="scheduler__title">Режим работы</div>
                <div class="scheduler__body">
                    <p>пн - пт &mdash; с 9&nbsp;00 до 17&nbsp;00</p>
                    <p>сб &mdash; с 10&nbsp;00 до 15&nbsp;00</p>
                </div>
            </div>
        </div>
    </footer>
</div>
