.footer {
  z-index : -20;
  clear   : both;

  @include position(absolute);
  @include size(100% $footer-height);

  // Нужна модульная сетка
  /*
  text-align  : left;
  color       : #fff;
  line-height : 10px;
  background  : #333;
  */

  &__inner {
    background : url("../images/layout/footer.png") left top repeat;
    overflow   : hidden;

    @include position(fixed, null 0 0 0);
    @include size(null $footer-height);
  }

  &__container {
    font           : normal normal 300 15px/1 "Roboto", sans-serif;
    text-transform : uppercase;

    @include clearfix;
    @include size(940px 1140px null);
    @include margin(0 auto);
    @include padding(55px 0 40px);
  }

  &__column {
    @include span(1 of 3);

    &_align_center {
      text-align : center;
    }
  }

  &__column-container {

  }

  &__row {

  }

  &__contacts {
    text-align : center;

    @include size();
    @include margin(0 0 15px);
    @include padding(0);
  }

  &__phone,
  &__mobile {
    font : normal normal 300 15px/1 "Roboto", sans-serif;
  }

  &__address {
    font : normal normal 300 13px/2 "Roboto", sans-serif;

    @include size();
    @include margin(0 0 0 50px);
  }

  &__logo {
    vertical-align : middle;

    @include size(inline-block, 2.2em);
    @include margin(0 0 0.5em);
    @include padding(0);
  }
}