.brand {
  color           : #fff;
  text-decoration : none;
  text-transform  : uppercase;

  @include size(inline-block);
  @include margin(0);
  @include padding(0);

  &__logo {
    vertical-align : middle;

    @include size(inline-block);
    @include margin(0);
    @include padding(0);
  }

  &__title {
    vertical-align : middle;

    @include size(inline-block);
    @include margin(0);
    @include padding(0);
  }

  &__name {
    font : normal normal 700 30px/1 "Roboto", Arial, sans-serif;

    @include size();
    @include margin(0 0 10px);
    @include padding(0);
  }

  &__description {
    font : normal normal 300 10px/1 "Roboto", Arial, sans-serif;

    @include size();
    @include margin(0);
    @include padding(0);
  }

  &__copyright {
    vertical-align : middle;

    font           : normal normal 300 15px/1 "Roboto", Arial, sans-serif;

    @include size(inline-block);
    @include margin(0);
    @include padding(0);
  }

  &_theme_header {
    z-index : 1;

    @include position(absolute, 30px null null 60px);

    .brand {
      &__logo {
        @include size(null, 90px);
        @include margin(null 0.5em null null);
      }
    }
  }

  &_theme_footer {
    .brand {
      &__logo {
        @include size(null, 33px);
        @include margin(null 0.5em null null);
      }
    }
  }
}