<!DOCTYPE html>
<html>

{% include head.html %}

<body class="page">

<div class="page__container">
    <header class="page__header header">
        <a class="brand brand_theme_header" href="{{ '/' | prepend: site.baseurl }}">
            <img class="brand__logo" src="{{ '/assets/images/layout/newcity.svg' | prepend: site.baseurl }}" alt="ООО «Новый город»">

            <div class="brand__title">
                <span class="brand__name">Новый город</span>
                <span class="brand__description">тротуарная плитка и благоустройство</span>
            </div>
        </a>

        <div class="header__actions">
            <a class="button button_type_price" href="#">Прайс-лист</a>
            <a class="button button_type_mail" href="#">Написать нам</a>
        </div>

        <nav class="menu">
            {% assign catalog = site.catalog | sort: 'index' %}
            {% for item in catalog %}
            {% capture tooltip %}{% if item.tooltip.size > 0 %}{{item.tooltip}}{% else %}{{item.title}}{% endif %}{% endcapture %}
            <a class="menu__item{% if item.url == page.url %} menu__item_active{% endif %}" href="{{ item.url | prepend: site.baseurl }}" title="{{ tooltip }}">{{ item.title }}</a>
            {% endfor %}
            <a class="menu__item menu__item_type_rss" href="{{ '/feed.xml' | prepend: site.baseurl }}" title="Подписаться на RSS"></a>
        </nav>

        <div class="offers">
            <div class="offers__container">
                {% assign posts = site.posts | limit: 10 %}
                {% for post in posts %}
                {% include offer.html param=post %}
                {% endfor %}
            </div>
        </div>
    </header>

    <!--<div class="container container_layout_content">-->
        <!--<div class="content">-->
            <!--<div class="content__container">-->
                <!--<header class="content__header">-->
                    <!--<h1 class="content__title">{{ page.title }}</h1>-->
                <!--</header>-->
                <!--<main>-->
                    <!--{{ content }}-->
                <!--</main>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

{% include footer.html %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.0/flickity.pkgd.min.js"></script>
<script>
    window.onload = function () {
        jumbotron();

        if (window.Flickity) {
            var slider = new Flickity('.offers__container', {
                imagesLoaded: true,
                wrapAround: true,
                selectedAttraction: 0.01,
                friction: 0.15,
                pageDots: false,
                draggable: false,
                arrowShape: {x0: 0, x1: 25, y1: 50, x2: 25, y2: 48, x3: 1}
            });
        }
    };

    _throttle('resize', 'optimizedResize');

    window.addEventListener('optimizedResize', function () {
        jumbotron();
    });

    function jumbotron() {
        var _paddingTop = 150;
        var _paddingBottom = 100;
        var _maxHeight = 0;
        var _offers = document.querySelectorAll('.offer');

        Array.prototype.forEach.call(_offers, function (element) {
            var _offerHeight = window.innerHeight;
            var _description = element.querySelector('.offer__description');

            if (_description) {
                var _descriptionHeight = _description.scrollHeight;

                if (_offerHeight > (_descriptionHeight + _paddingTop + _paddingBottom)) {
                    element.style.paddingTop = Math.max(Math.ceil((_offerHeight - _descriptionHeight) / 2), _paddingTop) + 'px';
                }
                else {
                    element.style.paddingTop = _paddingTop + 'px';
                    _offerHeight = _descriptionHeight + _paddingTop + _paddingBottom;
                }
            }
            if (_offerHeight > _maxHeight) {
                _maxHeight = _offerHeight;
            }
        });

        Array.prototype.forEach.call(_offers, function (element) {
            var _offerHeight = element.scrollHeight;

            if (_offerHeight != _maxHeight) {
                element.style.height = _maxHeight + 'px';
            }
        });
    }

    function _throttle(type, name) {
        var running = false;

        window.addEventListener(type, function (e) {
            if (running) {
                return;
            }
            running = true;
            if (window.requestAnimationFrame && 'CustomEvent' in window && typeof window.CustomEvent === 'function') {
                requestAnimationFrame(function () {
                    var _event = new CustomEvent(name, {});

                    window.dispatchEvent(_event);
                    running = false;
                });
            }
            else {
                var _event = document.createEvent('CustomEvent');

                _event.initCustomEvent(name, true, true, {});
                window.dispatchEvent(_event);
                running = false;
            }
        });
    }
</script>
</body>

</html>
